<!DOCTYPE html>
<html>
<head>
	<title>Xbox</title>
	<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>


<div class="container-fluid">
	<div class="jumbotron">
		<table></table>
	</div>
</div>


<% include ../partials/footer %>
</body>
</html>